* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 50px;
}

.grid-container {
    width: 70% !important;
}

.clipboard {
    cursor: pointer;
    margin-left: 10px;
    height: 20px !important;
    width: 20px !important;
}

.password-container {
    display: flex !important;
    align-items: center !important;
}